{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<style>
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
</style>

<div class="container mt-5 center-container">
    <div class="col-md-6 text-center">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        
        <h1 class="mb-4">Réinitialiser votre mot de passe</h1>
        
        {{ form_start(requestForm, {'attr': {'class': 'needs-validation'}}) }}
            <div class="mb-3">
                {{ form_row(requestForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrer votre adresse e-mail'}}) }}
            </div>
            
            <div class="mb-3">
                <small class="form-text text-muted">
                    Entrez votre adresse e-mail, et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                </small>
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">Envoyer un e-mail de réinitialisation</button>
        {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
