{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!
{% endblock %}

{% block body %}
	<main>
		<!-- coupon-area start -->
		<section class="coupon-area pt-100 pb-30">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div
							class="coupon-accordion">
							<!-- ACCORDION START -->
							<h3>Vous êtes un client récurrent ?<span id="showlogin">Cliquez ici pour vous connecter</span>
							</h3>
							<div id="checkout-login" class="coupon-content">
								<div class="coupon-info">
									<p class="coupon-text">Connectez-vous dès maintenant! Nous sommes impatients de vous accueillir à nouveau.
									</p>
									<form action="#">
										<p class="form-row-first">
											<label>Email
												<span class="required">*</span>
											</label>
											<input type="email"/>
										</p>
										<p class="form-row-last">
											<label>Mot de passe
												<span class="required">*</span>
											</label>
											<input type="text"/>
										</p>
										<p class="form-row">
											<button class="os-btn os-btn-black" type="submit">Connexion</button>
											<label>
												<input type="checkbox"/>
												Se souvenir de moi
											</label>
										</p>
										<p class="lost-password">
											<a href="#">Mot de passe oublié ?</a>
										</p>
									</form>
								</div>
							</div>
							<!-- ACCORDION END -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- coupon-area end -->
		<!-- checkout-area start -->
		<section class="checkout-area pb-70">
			<div class="container">
				<form action="#">
					<div class="row">
						<div class="col-lg-6">
							<div class="checkbox-form">
								<h3>Détails de facturation</h3>
								<div class="row">
									<div class="col-md-12">
										<div class="country-select">
											<label>Country
												<span class="required">*</span>
											</label>
											<select>
												<option value="volvo">bangladesh</option>
												<option value="saab">Algeria</option>
												<option value="mercedes">Afghanistan</option>
												<option value="audi">Ghana</option>
												<option value="audi2">Albania</option>
												<option value="audi3">Bahrain</option>
												<option value="audi4">Colombia</option>
												<option value="audi5">Dominican Republic</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="checkout-form-list">
											<label>First Name
												<span class="required">*</span>
											</label>
											<input type="text" placeholder=""/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="checkout-form-list">
											<label>Last Name
												<span class="required">*</span>
											</label>
											<input type="text" placeholder=""/>
										</div>
									</div>
									<div class="col-md-12">
										<div class="checkout-form-list">
											<label>Company Name</label>
											<input type="text" placeholder=""/>
										</div>
									</div>
									<div class="col-md-12">
										<div class="checkout-form-list">
											<label>Address
												<span class="required">*</span>
											</label>
											<input type="text" placeholder="Street address"/>
										</div>
									</div>
									<div class="col-md-12">
										<div class="checkout-form-list">
											<input type="text" placeholder="Apartment, suite, unit etc. (optional)"/>
										</div>
									</div>
									<div class="col-md-12">
										<div class="checkout-form-list">
											<label>Town / City
												<span class="required">*</span>
											</label>
											<input type="text" placeholder="Town / City"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="checkout-form-list">
											<label>State / County
												<span class="required">*</span>
											</label>
											<input type="text" placeholder=""/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="checkout-form-list">
											<label>Postcode / Zip
												<span class="required">*</span>
											</label>
											<input type="text" placeholder="Postcode / Zip"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="checkout-form-list">
											<label>Email Address
												<span class="required">*</span>
											</label>
											<input type="email" placeholder=""/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="checkout-form-list">
											<label>Phone
												<span class="required">*</span>
											</label>
											<input type="text" placeholder="Postcode / Zip"/>
										</div>
									</div>
									<div class="col-md-12">
										<div class="checkout-form-list create-acc">
											<input id="cbox" type="checkbox"/>
											<label>Create an account?</label>
										</div>
										<div id="cbox_info" class="checkout-form-list create-account">
											<p>Create an account by entering the information below. If you are a returning
												                                                customer please login at the top of the page.</p>
											<label>Account password
												<span class="required">*</span>
											</label>
											<input type="password" placeholder="password"/>
										</div>
									</div>
								</div>
								<div class="different-address">
									<div class="ship-different-title">
										<h3>
											<label>Ship to a different address?</label>
											<input id="ship-box" type="checkbox"/>
										</h3>
									</div>
									<div id="ship-box-info">
										<div class="row">
											<div class="col-md-12">
												<div class="country-select">
													<label>Country
														<span class="required">*</span>
													</label>
													<select>
														<option value="volvo">bangladesh</option>
														<option value="saab">Algeria</option>
														<option value="mercedes">Afghanistan</option>
														<option value="audi">Ghana</option>
														<option value="audi2">Albania</option>
														<option value="audi3">Bahrain</option>
														<option value="audi4">Colombia</option>
														<option value="audi5">Dominican Republic</option>
													</select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="checkout-form-list">
													<label>First Name
														<span class="required">*</span>
													</label>
													<input type="text" placeholder=""/>
												</div>
											</div>
											<div class="col-md-6">
												<div class="checkout-form-list">
													<label>Last Name
														<span class="required">*</span>
													</label>
													<input type="text" placeholder=""/>
												</div>
											</div>
											<div class="col-md-12">
												<div class="checkout-form-list">
													<label>Company Name</label>
													<input type="text" placeholder=""/>
												</div>
											</div>
											<div class="col-md-12">
												<div class="checkout-form-list">
													<label>Address
														<span class="required">*</span>
													</label>
													<input type="text" placeholder="Street address"/>
												</div>
											</div>
											<div class="col-md-12">
												<div class="checkout-form-list">
													<input type="text" placeholder="Apartment, suite, unit etc. (optional)"/>
												</div>
											</div>
											<div class="col-md-12">
												<div class="checkout-form-list">
													<label>Town / City
														<span class="required">*</span>
													</label>
													<input type="text" placeholder="Town / City"/>
												</div>
											</div>
											<div class="col-md-6">
												<div class="checkout-form-list">
													<label>State / County
														<span class="required">*</span>
													</label>
													<input type="text" placeholder=""/>
												</div>
											</div>
											<div class="col-md-6">
												<div class="checkout-form-list">
													<label>Postcode / Zip
														<span class="required">*</span>
													</label>
													<input type="text" placeholder="Postcode / Zip"/>
												</div>
											</div>
											<div class="col-md-6">
												<div class="checkout-form-list">
													<label>Email Address
														<span class="required">*</span>
													</label>
													<input type="email" placeholder=""/>
												</div>
											</div>
											<div class="col-md-6">
												<div class="checkout-form-list">
													<label>Phone
														<span class="required">*</span>
													</label>
													<input type="text" placeholder="Postcode / Zip"/>
												</div>
											</div>
										</div>
									</div>
									<div class="order-notes">
										<div class="checkout-form-list">
											<label>Order Notes</label>
											<textarea id="checkout-mess" cols="30" rows="10" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="your-order mb-30 ">
								<h3>Votre commande</h3>
								<div class="your-order-table table-responsive">
									<table>
										<thead>
											<tr>
												<th class="product-name">Product</th>
												<th class="product-total">Total</th>
											</tr>
										</thead>
										<tbody>
                                        {% for item in cart.products %}
											<tr class="cart_item">
												<td class="product-name">
													{{ item.product.nameProduct }}
													<strong class="product-quantity">
														× 1</strong>
												</td>
												<td class="product-total">
													<span class="amount">{{ item.product.price/100 }}€</span>
												</td>
											</tr>
                                        {% endfor %}
										</tbody>
										<tfoot>
											<tr class="shipping">
												<th>Livraison</th>
												<td>
													<ul>
														<li>
															<input type="radio" checked="checked"/>
															<label>Livraison gratuite </label>
														</li>
														<li></li>
													</ul>
												</td>
											</tr>
											<tr class="order-total">
												<th>Total de la commande <br> *<i>taxe comprise</i></th>
												<td>
													<strong>
														<span class="amount">{{ cart.data.subTotalTTC }}€</span>
													</strong>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>

								<div class="payment-method">
									<div class="accordion" id="accordionExample">
										<div class="card">
											<div class="card-header" id="headingOne">
												<h5 class="mb-0">
													<button class="btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
														Virement bancaire direct
													</button>
												</h5>
											</div>

											<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
												<div class="card-body">
													Effectuez votre paiement directement sur notre compte bancaire. Veuillez utiliser votre numéro de commande que le paiement référence. Votre commande ne sera pas expédiés jusqu’à ce que les fonds aient été compensés sur notre compte.
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingTwo">
												<h5 class="mb-0">
													<button class="btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
														Paiement par chèque
													</button>
												</h5>
											</div>
											<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
												<div class="card-body">
													Veuillez envoyer votre chèque à l’adresse suivante : Nom du magasin, rue du magasin, Ville du magasin, Magasin État / Comté, Magasin Cp.
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingThree">
												<h5 class="mb-0">
													<button class="btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
														PayPal
													</button>
												</h5>
											</div>
											<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
												<div class="card-body">
													Payer via PayPal ; Vous pouvez payer avec votre carte de crédit si vous n’avez pas de Compte PayPal.
												</div>
											</div>
										</div>
									</div>
									<div class="order-button-payment mt-20">
										<button type="submit" class="os-btn os-btn-black">Passer à la commande</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
		<!-- checkout-area end -->
	</main>
{% endblock %}
