<!-- footer area start -->
<section class="footer__area footer-bg">
	<div class="footer__top pt-100 pb-60">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-12">
					<div class="footer__widget mb-30">
						<div class="footer__widget-title mb-25">
							<a href="index.html"></a>
						</div>
						<div class="footer__widget-content">
							<p>InScic est une boutique en ligne spécialisée dans le domaine scientifique. Nous offrons une large gamme de livres scientifiques pour les passionnés, les étudiants et les professionnels.</p>
							<div class="footer__contact">
								<ul>
									<li>
										<div class="icon">
											<i class="fal fa-map-marker-alt"></i>
										</div>
										<div class="text">
											<span>Bureau : 38 Avenue Victor Hugo, 21000, DIJON</span>
										</div>
									</li>
									<li>
										<div class="icon">
											<i class="fal fa-envelope-open-text"></i>
										</div>
										<div class="text">
											<span>Email : romeo.djoman@outlook.fr </span>
										</div>
									</li>
									<li>
										<div class="icon">
											<i class="fal fa-phone-alt"></i>
										</div>
										<div class="text">
											<span>Phone : (+33) 06 46 40 05 68</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-12">
					<div class="footer__widget mb-30">
						<div class="footer__widget-title">
							<h5>information</h5>
						</div>
						<div class="footer__widget-content">
							<div class="footer__links">
								<ul>
									<li><a href="#">A propos</a></li>
								
									<li><a href="#">CGU</a></li>
									<li><a href="#">RGPD</a></li>
                                    <li><a href="#">Politique de confidentialité</a></li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-12">
					<div class="footer__widget mb-30">
						<div class="footer__widget-title mb-25">
							<h5>Autre</h5>
						</div>
						<div class="footer__widget-content">
							<div class="footer__links">
								<ul>
									<li><a href="#">Contact</a></li>
									<li><a href="#">Compte</a></li>
								
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-7">
					<div class="footer__copyright">
						<p>Copyright ©
							<a href="{{ path('app_home') }}">InScic</a>
							Tous droits réservés. Par
							<a href="{{ path('app_home') }}">Roméo DJOMAN</a>
						</p>
					</div>
				</div>
				<div class="col-xl-6 col-lg-5">
					<div class="footer__social f-right">
						<ul>
						
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-behance"></i></a></li>
							<li><a href="#"><i class="fas fa-share-alt"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- footer area end -->
